.navbar{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    background-color: white;
    display:flex;
    justify-content: space-between;
    height:60px;
}
.logo{
  margin-left: 29px;
}
.logo:hover{
  cursor: pointer;
}
.opt{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  gap:25px;
  font-weight: 500;
  margin-bottom: 10px;
  
}


.veh:hover{
  background-color: rgb(223, 225, 227);
  cursor:pointer;
  transition-duration: 0.5s;
}
.veh{
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 0.5rem 0.75rem; 
  border-radius: 9999px; 
}


.reg{
  margin-right: 30px;
  gap:20px;
  display:flex;
  margin-top: 15px;
}
.reg:hover{
  cursor:pointer;
  transition-duration: 0.5s;
}




.imgslider{
  height:600px;
  width: 100%;
}
@keyframes HeroAnimActive{
  from{
    opacity: 0;
    transform:translateY(0);
  }
  to{
    opacity: 1;
    transform: translateY(-15px);
  }
}
 .imgslider{
  display:flex;
  flex-direction: column;
  gap:30px;
  justify-content: center;
  animation-name:HeroAnimActive;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
 }
 .buttons{
  display:flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
 }
 .sliderR{
  font-size: 22px;
 }
 .sliderL{
  font-size: 22px;
 }
 .sliderR:active{
  border:2px solid black;
 }
.sliderR:hover{
  background-color: rgb(218, 220, 222);
}
 .sliderL:active{
  border:3px solid black;
 }
.sliderL:hover{
  background-color: rgb(218, 220, 222);
}

.banHeading{
  color:white;
  font-weight: 600;
  text-align: center;
  font-size: 33px;
  position: relative;
  bottom:70px;
}
.btnImg1{
  display: flex;
  gap:10px;
  justify-content: center;
  position: relative;
  bottom:120px;
}
.order{
  background-color: rgb(63, 114, 243);
  color:white;
  height:40px;
  width:200px;
  border-radius: 8px;
  border-color:rgb(63, 114, 243) ;
}
.lmore{
  color:grey;
  background-color: aliceblue;
  height:40px;
  width:200px;
  border-radius: 8px;
  border-color:aliceblue;
}

/* .midImages{
  display:flex;
  height:550px;
  margin-left: 80px;
  gap:35px;
  
}
.midimg1{
  width:900px;
  height:550px;
  border-radius: 19px;
}
.btnImg2{
  display:flex;
  gap:20px;
  margin-left: 40px;
  position: relative;
  top:250px;
}
.midimg1head{
  color:white;
  font-weight: 500;
  font-size: 30px;
  position: relative;
  top:240px;
  margin-left: 40px;
} */


.offandmeet{
  display:flex;
  gap:15px;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: center;
  gap:10px;
}
.offer{
  display:flex;
  background-color: rgb(245, 246, 247);
  border-radius: 20px;
  width:50%;
  justify-content: space-between;
  padding-left: 18px;
}
.offimg{
  border-radius: 20px; 
  width:270px;
}
.curroff{
  padding: 24px;
}
.curroffHead{
  color:black;
  font-size: 30px;
  font-weight: 600;
}
.curroffCon{
  color:grey;
  font-size: 24px;
}

@keyframes navbarExpand {
  from {
    transform: translateY(-65px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes carsanim {
  from{
    transform: translateX(-2px);
    opacity: 0;
    visibility:hidden;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
    visibility:visible;
  }
}

.models{
  animation-name: navbarExpand; 
  animation-duration: 0.7s; 
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  display:flex;
  justify-content: space-evenly;
  background-color: white;
  height:500px;
  position: absolute;
  top:20px;
  width:100%;
  z-index: 2;
  margin-top: 40px;
  margin-bottom: 40px;
}
.names1{
  display:flex;
  margin-left: 60px;
  gap:120px;
  position: relative;
  bottom:160px;
}
.names{
  display:flex;
  margin-left: 60px;
  gap:160px;
  position: relative;
  bottom:160px;
}
.names2{
  display:flex;
  margin-left: 60px;
  gap:100px;
  position: relative;
  bottom:160px;
}
.cars{
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  animation-name: carsanim;
  animation-timing-function: ease;
  animation-duration: 0.9s;
  animation-delay: 0.5s;
  gap:30px;
  visibility: hidden;
}
.cars:hover{
  cursor:pointer;
}
.hopt{
  display: flex;
  flex-direction: column;
  gap:11px;
  margin-right: 300px;
}
.hopt:hover{
  cursor: pointer;
}
.c{
  font-size: 20px;
  color:grey;
}
.c:hover{
  text-decoration: underline;
}


.cc{
    position: relative;
    width: 100vw;
    height:700px;
    overflow: hidden; 
}
.cw{
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: fit-content; 
}
.clisde{
    width: 100vw; 
    flex-shrink: 0; 
}
.cimg{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.cb{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}
.cbl{
    left: 10px;
}
.cbr{
    right: 10px;
}